@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Outfit:wght@500;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";

/* Your own custom component styles */

@import "tailwindcss/utilities";

@layer base {
	html,
	body {
		@apply bg-black;
	}

	html {
		@apply overflow-x-hidden overflow-y-auto;
		scrollbar-color: #fff2 #000;
		scrollbar-width: thin;
	}

	::-webkit-scrollbar {
		width: 8px;
	}
	::-webkit-scrollbar-track {
		background: black;
	}
	::-webkit-scrollbar-thumb {
		background: #ffffff22;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #ffffff18;
	}
	::-webkit-scrollbar-thumb:active {
		background: #ffffff10;
	}

	@media (prefers-reduced-motion: reduce) {
		*,
		::before,
		::after {
			animation-delay: -1ms !important;
			animation-duration: 1ms !important;
			animation-iteration-count: 1 !important;
			background-attachment: initial !important;
			scroll-behavior: auto !important;
			transition-duration: 0s !important;
			transition-delay: 0s !important;
		}
	}

	.main > * {
		animation-name: fade;
		animation-duration: 0.3s;
		animation-fill-mode: both;
	}

	@for $i from 1 through 20 {
		.main > :nth-child(#{$i}) {
			animation-delay: #{$i / 10}s;
		}
	}

	@keyframes fade {
		0% {
			opacity: 0;
			transform: translateY(0.5rem);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

@layer components {
	.heading {
		@apply font-heading font-extrabold text-6xl tracking-tighter;
	}
}
